
.navbar-static-top {
    background-color: #95befe;
}

.navbar .nav > li > a {
color: white;
}

.navbar .nav > li > a:hover {
  color: #074BB4 ;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #95befe;
}

h1 {
    color: #074BB4;
}

h2 {
    color: #074BB4;
}

/*.twitterbird {
 margin-bottom: 10px;
 width: 88;
 height:46;
 display:block;
 background:transparent url('logo_reposit.png');
   background-image: url('logo_reposit2.png');
}*/

/*.twitterbird:hover {
   background-image: url('logo_reposit2.png');
}*/
